- name: Install Podman related packages
  apt:
    name:
      - podman
    state: present

- name: Enable and start podman socket
  systemd:
    name: podman.socket
    enabled: yes
    state: started

